// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the ogrenci controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.arkaplan{
//margin-top:20px;
//margin-left:20px;
//margin-right:700px;
//height:300px;
//padding-left:0px;
//padding-top:10px;
//background-color:#eeeeee;
 // -webkit-border-radius: 6px;
 //    -moz-border-radius: 6px;
   //       border-radius: 6px;
}
