.hero-unit
  center
    p
      | Staj Yönetim Sistemi; staj yapmak isteyen öğrencilerin online olarak başvuru ve kayıt yapabilmesini, sisteme daha önceden kayıt yaptırmış ve onay almış kurumların ilan verebilmesini ve akademisyenlerin ilgili stajı onaylamasını sağlayarak iş yükünü azaltmayı hedefleyen bir sistemdir.


