.ortala{
  margin-left:0px;
  margin-right:0px;
  margin-top:20px;
  margin-bottom:200px;
  position:absolute;
  min-width:190px;
  left:65px;
  top:140px;
  background-color:#dddddd;
}
.arka{
  margin-left:210px;
  margin-right:0px;
  margin-top:35px;
  margin-bottom:200px;
}
