// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.arkaplan{
  padding-top:90px;
  padding-left:10px;
  min-height:300px;
  background-color:#e8d069;
  border:0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
